*
{
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	height: 100%;
	background-image: url(../img/wallpaper12.jpg);
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: absolute;
}

#body
{
	background-image: url(../img/wallpaper2.jpg);
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: absolute;
}

header
{
	height: 90px;
	text-align: center;
	background-color: #070D59;
	overflow: hidden;
}

.header-logo
{
	width: 110px;
	height: 90px;
	float: left;
	background-color: #EAEDED;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
	box-shadow: 1.5px 0px black;
}

.header-logo2
{
	width: 130px;
	height: 50px;
	float: left;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
	
}

.header-logo img
{
	width: 100px;
	height: 90px;
}

.header-logo2 img
{
	width: 70px;
	height: 50px;
}

header h1
{
	width: 1200px;
	color: white;
	text-align: center;
	padding: 20px;
}

nav
{
	background-color: #183750f5;	
}

#inicio
{
	margin-top: 5%;
	background-color: #e2e2f8;
	
	opacity: 0.9;
	border-radius: 10px;
}

#user_a
{
	margin-top: 5%;
	background-color: #e2e2f8;
	display: none;
	opacity: 0.9;
	border-radius: 10px;
}

#user_b
{
	margin-top: 5%;
	background-color: #e2e2f8;
	display: none;
	opacity: 0.9;
	border-radius: 10px;
}

#expediente_a
{
	margin-top: 5%;
	background-color: #e2e2f8;
	display: none;
	opacity: 0.9;
	border-radius: 10px;
}

#expediente_b
{
	margin-top: 5%;
	background-color: #e2e2f8;
	display: none;
	opacity: 0.9;
	border-radius: 10px;
}

#expediente_c
{
	margin-top: 5%;
	background-color: #e2e2f8;
	display: none;
	opacity: 0.9;
	border-radius: 10px;
}

#oculto
{
	display:none;
}

#btn-oculto
{
	border-radius: 50px;
	
}

